* {
  color: #272044;
  font-family: "Nunito", sans-serif;
}
.active {
  color: purple !important;
}
.cont .row {
  margin-top: 85px;
}
.recipeCollection {
  background-image: url("photos/overlay.png");
  max-height: 100vh;
  max-width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recipeCollection h1 {
  color: white;
  line-height: 98px;
  font-size: 72px;
  margin: 0;
}
@media (max-width: 500px) {
  .recipeCollection h1 {
    font-size: 50px;
  }

  .aboutMe .col-md-4 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 770px) {
  .aboutMe .col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}
.recipeCollection p {
  color: white;
  font-size: 24px;
  line-height: 35px;
  margin: 0;
}
.down div {
  color: #272044;
}
.down i {
  font-size: 26px;
  margin: 0 20px;
  color: #272044 !important;
}
.down p {
  opacity: 0.7;
  font-size: 13px;
  color: #272044;
}
.main .row h4 {
  padding-top: 20px;
  color: black;
  font-size: 28px;
  line-height: 38px;
}
.main col-5 {
  margin: 10px;
}
.aboutMe h1 {
  text-align: center;
  font-size: 72px;
}
.aboutMe {
  margin-top: 130px;
}
.aboutMe h2 {
  font-size: 64px;
  line-height: 87px;
}
.aboutMe p {
  max-width: 460px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400 !important;
}
.aboutMe i {
  font-size: 26px;
  padding: 0 15px;
}
.aboutMe .row {
  padding-top: 100px;
}
